<form (ngSubmit)="onSubmit()" [formGroup]="form">
  @if(data.action==="Add" ) {
    <h2 mat-dialog-title>Neu Hinzufügen</h2>
  } @else if(data.action==="Edit"){
    <h2 mat-dialog-title>Bearbeiten</h2>
  } @else if (data.action==="Complete") {
    <h2 mat-dialog-title>Als Erledigt Markieren</h2>
  } @else {
    <h2 mat-dialog-title>Noch zu Erledigen Markieren</h2>
  }
  
<div mat-dialog-content>
@if(data.action !== "Complete" &&  data.action !== "Incomplete" ) {
  <mat-form-field class="form-field">
    <mat-label>Beschreibung</mat-label>
    <input matInput type="text" formControlName="beschreibung">
  </mat-form-field>
    <mat-form-field class="form-field">
    <mat-label>Priorität</mat-label>
    <input matInput type="number" formControlName="prioritaet" >
  </mat-form-field>
}
  
  <mat-form-field class="form-field">
    <mat-label>Fällig</mat-label>
    <input matInput type="date" formControlName="faellig">
  </mat-form-field>

</div>
<div mat-dialog-actions>
   <button mat-button (click)="onCancel()">Abbrechen</button> 
  <button mat-button [mat-dialog-close]="data.todo"  [disabled]="!form.valid" type="submit">Speichern</button>
</div>
</form>



