<div class="layout">

    <h1 class="left-content">
       <b>Todo Probe Arbeit</b> 
    </h1>
    
    
    <form class="login-form" (ngSubmit)="onSubmit()"  [formGroup]="form">
       
        
        <mat-form-field class="form-field">
            <mat-label>Benutzername</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
    
        <mat-form-field class="form-field">
            <mat-label>Geben Sie Ihr Passwort ein!</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <button type="submit" mat-raised-button class="form-field" [disabled]="!form.valid">Einloggen</button>
    </form>    
</div>
