.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    padding: 20px;
}

.left-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px
}
.layout {
    display: flex;
    flex-direction: column;
}

.form-field{
    width: 30%;
    border-radius: 5%;
}

.login-text{
    display: flex;
    flex-direction: row-reverse;
    
}